$background-color: #383838;
$btn-primary-color: #E8BA24;
$font: 'Montserrat', sans-serif;
$text-big:1.5em; /*Equivalente a 24px, tomando como base 16px*/
$text-medium:1.25em; /*Equivalente a 20px, tomando como base 16px*/